[Unit]
Description=todoAPI
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/todoAPI
ExecStart=/root/apps/todoAPI/todoAPI
Restart=always
RestartSec=4
StandardOutput=inherit

[Install]
WantedBy=multi-user.target